
.f_l { float: left; }
.f_r { float: right; }
body {padding-top: 50px;}
	.navbar-inverse{background:#009900;border-color:#006633}
	.navbar-inverse .navbar-brand,.navbar-inverse .navbar-nav>li>a{color:#fff}
	.navbar-inverse .navbar-nav>li>a:hover{background:#006633;}
	.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{background:#006633;}
	.navbar-inverse .navbar-toggle{border-color:#006633}
	.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{background-color:#669900}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{border-color:#669900}
	.starter-template {padding: 40px 15px; text-align: center;}
	footer{margin-top:80px}
	.pdm-page-error{font: normal 12px Tahoma, Verdana, Helvetica, Arial, sans-serif; }
.page-ew{margin:180px auto; width:380px;}
.page-ew-mobile{padding: 10px; text-align: center; margin: 10% auto; border: 2px solid #CA0000; border-radius: 5px;box-shadow:5px 2px 20px #999;background: #F7F7F7}
.page-ew-mobile-success{border: 2px solid #090;}
/*
.page-ew ul{margin-left:40px; list-style-type:none; list-style-image: none; list-style-position:outside;}
.page-ew ul li{list-style-type:none; list-style-image:none; list-style-position:outside; color:#666;}
	*/
.pdm-signin,.pdm-search,.pdm-profile{max-width:300px;margin: 0 auto;}
.pdm-search{max-width:580px;}
.pdm-profile{max-width:600px}
.pdm-build-result{max-width:600px;margin: 0 auto;}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{cursor: default;
background-color: #FFF;
opacity: 1;
border: 1px solid rgb(0, 153, 51);}
.tree {
  min-height:20px;
  padding:19px;
  margin-bottom:20px;
  background-color:#fbfbfb;
  border:1px solid #999;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}
.tree li {
  list-style-type:none;
  margin:0;
  padding:10px 5px 0 5px;
  position:relative
}
.tree li::before, .tree li::after {
  content:'';
  left:-20px;
  position:absolute;
  right:auto
}
.tree li::before {
  border-left:1px solid #999;
  bottom:50px;
  height:100%;
  top:0;
  width:1px
}
.tree li::after {
  border-top:1px solid #999;
  height:20px;
  top:25px;
  width:25px
}
.tree li span {
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border:1px solid #999;
  border-radius:5px;
  display:inline-block;
  padding:3px 8px;
  text-decoration:none
}
.tree li.parent_li>span {
  cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
  border:0
}
.tree li:last-child::before {
  height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
  background:#eee;
  border:1px solid #94a0b4;
  color:#000
}


#pdm-pading{margin-top: 30px}